// breakpoints
$desctop-screen: 1280px;
$tablet-screen: 720px;
$mobile-screen: 450px;

// fonts 
$base-font: 'PT Sans', sans-serif;
$header-font: 'SegmentA', sans-serif;

// color 
$pink: #FF678B;
$blue: #12CCE5;