p
	| Нам уже ясно, что секс - процесс, в котором существуют свои правила, к которым надо подходить со всей ответственностью. Важным является и вопрос контрацепции (предохранения).
p
	| Как мы выяснили, женщина беременеет, когда сперма мужчины попадает в ее влагалище и достигает матки, а затем – яичников. Контрацепция позволяет избежать беременности. Стоит отметить, что сперма выстреливается из уретры с большой скоростью и потому почти сразу попадает в матку, откуда извлечь ее самостоятельно уже не удастся. Это значит, что процессу оплодотворения не получится просто так помешать, если партнеры не предохранялись во время самого полового акта. Единственным способом избежать беременности после такого секса является применение экстренной контрацепции (гормональных препаратов, которые нужно использовать в течение 12, 48 или 72 часов после процесса), но она имеет сильные побочные эффекты, и ее нельзя применять чаще, чем 1-2 раза в год. Вот почему нужно обязательно использовать предохранение, чтобы секс не вызвал нежелательную беременность.
p
	| Помимо этого, незащищенный секс (секс без контрацепции) может привести к заражению венерическими заболеваниями, о которых будет подробно рассказано позже. Если вы занимаетесь сексом с постоянным(ой) партнером(шей), то вам обоим достаточно провериться на отсутствие заболеваний, после чего ваш секс можно считать безопасным (если, конечно, этот человек точно вступает в половой контакт только с вами). Однако если ваш(а) партнер(ша) еще не является постоянным(ой), то необходимо применение контрацепции, защищающей от заражения. Помимо этого, рекомендуется перед сексом попросить у этого человека показать справку о здоровье.
p
	| Многие люди знают только о предохранении с помощью презервативов, но на деле методов гораздо больше. Они подразделяются на:
ol
	li барьерный;
	li гормональный;
	li химический;
	li внутриматочный;
	li хирургический.
h2#barrier §1 Барьерный
p
	| Заключается в том, чтобы физически не дать выделениям (сперме или смазке) партнера(ши) попасть в организм.
p
	| Презервативы хорошо защищают и от венерических заболеваний, и от нежелательной беременности. Они делятся на мужские (эластичная трубка, которая надевается на пенис) и женские (эластичная трубка, которая вставляется во влагалище). Мужские презервативы комфортны обоим партнерам, в то время как женский презерватив может доставить женщине ощутимые неудобства. Однако у мужских презервативов есть нюанс: нужно использовать только подходящий размер: слишком большой может сползти, слишком маленький - соскользнуть, помешать эрекции, порваться (как и слишком большой). К сожалению, презервативы большинства фирм имеют только один размер и подходят мужчинам только со средними параметрами (вдобавок, средний размер презервативов у разных производителей может отличаться). У иных фирм бывает два размера: обычный и увеличенный. Однако такая фирма как Mysize производит презервативы самых разных размеров, причем, высокого качества. Другими проверенными марками являются Maxus, Unilatex, Sagami (последние подойдут людям с аллергией на латекс). При этом популярные Durex, Contex и Visit считаются не такими качественными и безопасными.
p
	| Влагалищная диафрагма и маточный колпачок - колпачки, вставляемые вглубь влагалища женщины. Они не защищают от венерических заболеваний, менее эффективны, чем презервативы (так как могут случайно сдвинуться), зато никак не ухудшают ощущения партнеров во время секса.
p
	| Латексные салфетки - салфетки, которые кладутся на вульву или анус при оральном сексе, чтобы не дать выделениям попасть в рот партнера(ши). Их целью является именно защита от инфекций.
h2#hormone §2 Гормональный
p
	| Заключается в подавлении овуляции (готовности забеременеть) женщины путем изменения ее гормонального фона. Это один из самых надежных методов контрацепции, но от ЗППП он не защищает. Очевидно, он вредит здоровью женщины. Использование гормональных контрацептивов имеет побочные эффекты: головные боли разной силы, проблемы с пищеварением (тошнота, рвота, боли), набор веса, снижение либидо (желания секса), нарушение работы нервной системы (нервозность, депрессия), обострение хронических заболеваний, бесплодие, др.
p
	| Таблетки - самый распространенный из методов. Способ применения и особенности для каждого препарата индивидуальны, сам препарат подбирает только врач.
p
	| Гормональный имплант - небольшой стержень, помещаемый врачом под кожу руки. Как и таблетки, он лишает организм возможности зачать ребенка. Действует три года.
p
	| Гормональный пластырь клеится на кожу женщины. Пластырь нужно менять каждую неделю, но на четвертую неделю менструального цикла обязательно снимать, чтобы не вызвать серьезные нарушения.
p
	| Гормональное/влагалищное кольцо вставляется вглубь влагалища (в сложенном виде). Его нужно вводить в начале менструального цикла на 21 день (три недели), после чего вынимать и через неделю, к началу следующего цикла, вставлять следующее.
h2#chemical §3 Химический
p
	| Заключается в подавлении активности мужских сперматозоидов. Этот метод также защищает от болезней, передаваемых половым путем, но не от всех (только от хламидий, гонореи, др.) и не абсолютно. Химический метод часто применяют вместе с другим, для улучшения защиты. Существуют побочные эффекты в виде раздражения слизистых (боль, жжение, сухость во влагалище).
p
	| Спермициды бывают в форме кремов, гелей, пены, свечей, губок, таблеток, пр. Вышеупомянутое вводится вглубь вагины за 10-15 минут до начала полового акта и действует 1-6 часов (в зависимости от препарата). Как и в случае с гормональным методом, подбирать препарат рекомендуется с врачом-гинекологом.
h2#intrauterine §4 Внутриматочный
p
	| Представляет собой избежание беременности с помощью средств, вводимых в матку. Этот метод очень эффективен, но не помогает от венерических заболеваний. Важно, что если женщина все же захочет завести ребенка после применения этого способа, с этим могут быть сложности.
p
	| Внутриматочная спираль вводится врачом на 5-7 лет. Спирали делятся на инертные (не содержащие химических препаратов) и медикаментозные (содержащие медь или гестагены - гормоны). Второй вид популярнее, но имеет побочные эффекты: боли внизу живота, обильные менструации, повышенный риск воспалений и инфекций.
h2#surgical §5 Хирургический
p
	| Заключается в полном лишении человека возможности иметь детей. Он необратим (хотя несколько случаев восстановления врачами прежнего состояния было).
p
	| Добровольная хирургическая стерилизация (ДХС) женщины - хирургическое блокирование проходимости маточных труб. После этого женщина становится бесплодной, но ее менструация не прекращается, а сексуальное влечение остается прежним.
p
	| ДХС мужчины (вазэктомия) - хирургическое блокирование семявыводящих протоков. После процедуры мужчина не может оплодотворить женщину, но на возможность эякулировать (выбрасывать жидкость из полового члена при оргазме) это не влияет.
p
	| Помимо описанных способов предохранения, существует метод, называемый биологическим или естественным. Он не внесен в основной перечень, потому что не является действенным. К нему относится прерванный половой акт (вывод члена из влагалища женщины до наступления оргазма, чтобы сперма не попала внутрь) и занятие сексом не в овуляцию (в фазы менструального цикла женщины, когда беременности сложно наступить). Оба способа крайне рискованны и категорически не рекомендуются.
p
	| Неосведомленные люди порой пытаются избежать беременности совсем бесполезными путями. Кто-то идет в душ или в туалет сразу после секса. Вот только даже если вам удастся убрать сперму из влагалища, убрать ее из матки уже никак не получится, а потому это не имеет смысла. Кто-то использует пакет или схожий предмет в качестве презерватива, но от трения он быстро рвется. Были случаи, когда люди заклеивали отверстие уретры пениса и вскоре попадали в реанимацию. Важно понимать: ни один из «домашних» способов контрацепции не является безопасным или эффективным.
