.chapter-container{
    display: grid;
    grid-template-rows:
    auto auto;
}

.chapter-sidebar-desctop { grid-area: sib; }
.chapter-title { grid-area: tit; }
.chapter-text{ grid-area: txt; }
.chapter-image-panel{ grid-area: img; }
.footer{ grid-area: fot; }

@media (min-width: $tablet-screen) {
    .chapter-container{
        grid-template-areas:
        'sib tit tit'
        'sib txt img'
        'fot fot fot';
        grid-template-columns:
        20% 55% 25%;
    }
}

@media (max-width: $tablet-screen){
    .chapter-container{
        grid-template-areas:
        'tit tit'
        'txt img'
        'fot fot';
        grid-template-columns:
        90% 10%;
    }
}