// midle desctop sreen
@media (orientation: landscape) {
    .title-screen{
        display: flex;
        &__section{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            &--first{
                flex-basis: 40%;
                & *{
                    align-self: flex-end;
                }
            }
            &--second{
                flex-basis: 60%;
                background-image: url('../img/skyb.jpg');
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        &__name{
            font-family: $header-font;
            color: white;
            font-style: bold;
            text-transform: uppercase;
            &--first-word{
                font-size: min(46vw, 600px);
                line-height: 40%;
                margin: 0 auto;
            }
            &--other-word{
                font-size: min(19vw, 275px);
                line-height: 81.5%;
                margin-top: max(-2.5vw, -40px);
            }
        }
        &__colum{
            width: 28vw;
            max-width: 355px;
            margin: min(160px, 12vw) auto -25px;
        }
    }
}
// mobile
@media screen and (max-width: $mobile-screen){

}