.title-screen{
    display: flex;
    &__section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        &--first{
            flex-basis: 40%;
            & *{
                align-self: flex-end;
            }
        }
        &--second{
            flex-basis: 60%;
        }
    }
    &__name{
        font-family: $header-font;
        color: white;
        font-style: bold;
        text-transform: uppercase;
    }
}

@media (orientation: landscape) {
    .title-screen{
        &__name{
            &--first-word{
                font-size: min(46vw, 600px);
                line-height: 40%;
                margin: 0 auto;
            }
            &--other-word{
                font-size: min(19vw, 275px);
                line-height: 81.5%;
                margin-top: max(-2.5vw, -40px);
            }
        }
        &__colum{
            width: 28vw;
            max-width: 355px;
            margin: min(160px, 12vw) auto -25px;
        }
        &__section--second &__colum{
            display: none;
        }
    }
}
// mobile
@media (orientation: portrait) {
    .title-screen{
        flex-direction: column;
        &__section{
            &--second{
                padding-bottom: 0;
                align-items: flex-start;
            }
        }
        &__name{
            &--first-word{
                font-size: min(600px, 100vw);
                line-height: 33%;
                height: min(415px, 70vw);
                margin: 0 auto;
            }
            &--other-word{
                word-wrap: break-word;
                font-size: min(35vw, 200px);
                line-height: 81.5%;
                margin-top: max(-8vw, -40px);
            }
        }
        &__colum{
            min-width: 100px;
            width: 40vw;
            max-width: 355px;
            margin-top: min(160px, 1vw);
        }
        &__section--first &__colum{
            display: none;
        }
    }
}