section.title-screen
    .title-screen__section.title-screen__section--first.section-container.border.bg-anim-gradient 
        h1.title-screen__name.title-screen__name--first-word
            | Секс
        img(class="title-screen__colum" src="img/colum up.png" alt="античная колонна")
    .title-screen__section.title-screen__section--second.section-container.border.bg-paralax-sky
        h1.title-screen__name.title-screen__name--other-word
            | и другие
            br
            | шокирующие вопросы
        img(class="title-screen__colum" src="img/colum up.png" alt="античная колонна")
        