.title-screen
    .title-screen__section.title-screen__section--first.border.bg-anim-gradient 
        h1.title-screen__name.title-screen__name--first-word 
            | Секс
        img(class="title-screen__colum" src="../img/colum.png" alt="античная колонна")
    .title-screen__section.title-screen__section--second.border
        h1.title-screen__name.title-screen__name--other-word
            | и другие
            br
            | шокирующие вопросы
