.chapter-text-container{
    padding: 50px;
    position: relative;
}

h2{
    counter-reset: point;
    display: block;
    margin-top: 2em;
    font-family: $base-font;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
    text-align: center;
    color: black;
    &::before, &::after{
        margin: 0.65em 0;
        position: relative;
        display: block;
        content: '';
        border: 2px solid black;
        width: 10%;
        height: 0;
    }
    &::before{
        margin-left: -50px;
        float: left;
    }
    &::after{
        margin-right: -50px;
        float: right;
    }
}

h3{
    counter-increment: point;
    margin-top: 1.6em;
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    font-family: $base-font;
    color: black;
    &::before{
        content: "п." counter(point) " ";
    }
}

p, li{
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    font-family: $base-font;
    color: black;
}

* + p, li{
    margin-top: 0.7em;
}

a{
    text-decoration-line: underline;
    &:visited, &:link{
        color: inherit;
        text-decoration-line: underline;
    }
    &:focus, &:hover{
        color: $pink;
        text-decoration-line: underline;
    }
}

.p-initial-letter::first-letter{
    font-family: $header-font;
    font-size: 8em;
    line-height: 1em;
    font-style: normal;
    color: black;
    float: left;
    margin: -0.28em 10px 5px 0;
}
