.chapter-title{
    padding: 15px 0;
    height: auto;
    &__ticker-container{
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
    }
    &__text{
        position: relative;
        margin: -0.35em auto 0;
        padding: 0 25px 0;
        width: fit-content;
        font-family: $header-font;
        color: white;
        font-style: normal;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 105%;
        flex-shrink: 0;
        animation: ticker 10s linear infinite;
    }
}

@keyframes ticker{
    0% { transform: translateZ(0); }
    100% { transform: translate3d(-100%, 0, 0); }
}


@media (orientation: landscape) {
    .chapter-title{
        &__text{
            font-size: min(34vw, 445px);
        }
    }
}
@media (orientation: portrait) {
    .chapter-title{
        margin-top: 105px;
        &__text{
            font-size: min(54vw, 210px);
        }
    }
}