extends ../layouts/chapter-page
include ../helpers/mixins

block variables
	- const title = "Глава Психология";
	- const chapter_title = 'Психология';

block chapter_text
	include ../../blocks/modules/chapters-texts/1

