extends ../layouts/chapter-page
include ../helpers/mixins

block variables
	- const title = "Глава ЗППП";
	- const chapter_title = 'ЗППП';

block chapter_text
	include ../../blocks/modules/chapters-texts/5