extends ../layouts/chapter-page
include ../helpers/mixins

block variables
	- const title = "Глава Контрацепция";
	- const chapter_title = 'Контрацепция';

block chapter_text
	include ../../blocks/modules/chapters-texts/4

