extends ../layouts/chapter-page
include ../helpers/mixins

block variables
	- const title = "Глава Менструация";
	- const chapter_title = 'Менструация';

block chapter_text
	include ../../blocks/modules/chapters-texts/6

