extends ../layouts/chapter-page
include ../helpers/mixins

block variables
	- const title = "Глава Секс";
	- const chapter_title = 'Секс';

block chapter_text
	include ../../blocks/modules/chapters-texts/2