.section-name{
    margin-top: max(-9vw, -110px);
    margin-bottom: 100px;
    font-family: $header-font;
    color: black;
    font-size: max(min(300px, 23vw), 210px);
    line-height: max(min(360px, 28vw), 252px);
    text-transform: uppercase;
}