.bg-anim-gradient {
    animation: animateBg 8s linear infinite;
    background-image: linear-gradient(30deg, #12CCE5, #FF527B, #12CCE5, #FF527B);
    background-size: 300% 300%;
  }
  @keyframes animateBg {
    0% { background-position: 0% 100%; }
    100% { background-position: 100% 0%; }
  }