.text{
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    font-family: $base-font;
    color: black;
    & + &{
        margin-top: 1em;
    }
    &--mini{
        font-size: 20px;
        line-height: 26px;
        & + &{
            margin-top: 0.5em;
        }
    }
    &--link{
        text-decoration-line: underline;
        &:visited, &:link{
            color: inherit;
            text-decoration-line: underline;
        }
        &:focus, &:hover{
            color: $pink;
            text-decoration-line: underline;
        }
    }
    &--white{
        color: white;
    }
    &--bold{
        font-weight: 700;
    }
}
@media screen and (max-width: 720px){
    .text{
        font-size: 20px;
        line-height: 26px;
        &--mini{
            font-size: 15px;
            line-height: 20px;
        }
    }
}