section.for-whom 
    .for-whom__text.border.section-container
        +section_name('для кого?') 
        p.text Целью моего проекта является повышение половой осведомленности среди молодежи. Говоря менее официально, я создала этот проект, чтобы снизить риск столкновения юных людей с проблемами в половой сфере (непреднамеренной беременностью, заражением половой инфекцией, сексуальной травмой, половой неудовлетворенностью, пр.) и помочь тем, кто уже пострадал от подобных трудностей. 
        p.text Представленный текст прошел проверку врача-гинеколога и был дважды мною отредактирован. Все же в каждом тексте возможно наличие неточностей. При нахождении таковых, пожалуйста, свяжитесь со мной по одному из указанных ниже адресов. Я также буду рада ответить на ваши вопросы или узнать ваше мнение о моем проекте!
    .for-whom__empty.border.section-container