.chapter-sidebar{
    z-index: 2;
    height: 100%;
    width: 99%;
    background-color: white;
    transition: width 0.5s;
    &:hover, &:active, &:focus{
        width: 400px;
    }
    &__container{
        margin-top: -2px;
        top: 0px;
        position: sticky;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        border-top: 2px solid black;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 25px;
        line-height: 32px;
        font-family: $base-font;
        color: black;
    }
    &__item{
        margin-top: 0;
        padding: 35px 15px;
        border-block-end: 2px solid black
    }
    &__link{
        display: block;
        width: 100%;
        text-align: center;
        font-weight: 700;
        text-decoration-line: none;
        &:visited, &:link{
            color: inherit;
            text-decoration-line: none;
        }
        &:focus, &:hover{
            color: $pink;
            text-decoration-line: underline;
        }
    }
}

.sidebar-table-of-contents{
    &__item{
        margin-top: 0;
        list-style-type: none;
    }
    &__list{
        margin-top: 1em;
    }
    &__par-item{
        margin-top: 0;
        margin-left: 40px;
    }
    &__link{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        width: 100%;
        font-weight: 400;
        text-decoration-line: none;
        &:visited, &:link{
            color: inherit;
            text-decoration-line: none;
        }
        &:focus, &:hover{
            color: $pink;
            text-decoration-line: underline;
        }
    }
}