section.chapter-menu.border
    .chapter-menu__container
        .chapter-menu__logo.bg-anim-gradient
            p.chapter-menu__logo-name #[i секс] и другие #[i шокирующие] вопросы
        .chapter-menu__list
            .chapter-menu__item 
                a(href='index.html').chapter-menu__link главная
            .chapter-menu__item 
                a(href='index.html#table-of-contents').chapter-menu__link содержание
                .chapter-menu__table-of-contents.sidebar-table-of-contents
                    ul.sidebar-table-of-contents__list 
                        each chapter, key in chapters
                            li.sidebar-table-of-contents__item 
                                a(href=chapter.link).sidebar-table-of-contents__link #{chapter.name}
                                if chapter.paragraphs !== undefined
                                    ol.sidebar-table-of-contents__par-list
                                        each paragraph in chapter.paragraphs
                                            li.sidebar-table-of-contents__par-item 
                                                a(href=paragraph.link).sidebar-table-of-contents__link #{paragraph.name}