p
	| Ни для кого не секрет, что женская и мужская половые системы различаются. Не смотря на это, далеко не все обладают знаниями, нужными для безопасного занятия сексом.
p
	| Чтобы заполнить прорехи, стоит изучить физиологию половых систем с азов. Отмечу, что в этом зине будут упомянуты лишь те базовые факты, которые могут так или иначе пригодиться каждому.
h2#female-phy
	strong §1 Женская физиология
h3#-
	strong Яичники
p
	| Парный железистый орган округлой формы. В яичниках формируются фолликулы (округлые компоненты яичника), а в них - яйцеклетки (женские половые клетки, из которых формируется эмбрион - будущий ребёнок). Яичники фаллопиевыми трубами соединены с маткой. По ним яйцеклетки попадают в нее. Неоплодотворенные дальше с кровью выходят наружу через влагалище (менструация), а оплодотворенные (соединившиеся со сперматозоидами при попадании спермы мужчины во влагалище и далее в матку) приводят к беременности.
h3#-
	strong Матка
p
	| Мышечный орган размерами 7-8 см на 4 см со стенками в 2-3 см, находящийся внизу живота (что делает здоровый женский живот округлым и несколько выпирающим снизу). В матке развивается эмбрион. При беременности она растягивается до параметров в 37-38 см на 25-26 см (и это при вынашивании только одного). Матка соединяется с влагалищем узким каналом - шейкой матки.
h3#-
	strong Влагалище/вагина
p
	| Мышечная труба длиной 7-12 см в невозбужденном состоянии. По ней в матку попадают сперматозоиды. Как и половой член, она увеличивается при возбуждении: ее длина доходит до 12-19 см (глубина влагалища индивидуальна). Внутренние стенки вагины возбужденной женщины покрываются смазкой (прозрачно-белой густой жидкостью), количество которой зависит от степени возбуждения, фазы менструального цикла и индивидуальных особенностей. Влагалище не отвечает за половое удовольствие. Более того, в его стенках почти нет нервных окончаний, потому женщины могут даже не ощущать находящийся внутри предмет (например, тампон). Оргазм, называемый вагинальным, на самом деле достигается стимуляцией не самой вагины, а ножек клитора, которые находятся на некотором расстоянии от его стенок (считается, что в «точке G» они к ней ближе всего).
h3#-
	strong Девственная плева/гимен
p
	| Складка слизистой, прикрывающая (но не закрывающая как сплошная пленка) вход во влагалище. Плева обладает эластичностью, которая в разы повышается при возбуждении. При введении достаточно широкого объекта (например, пениса) в вагину, гимен безболезненно/почти безболезненно и незаметно/с незначительным кровотечением растягивается (только при неправильном, резком введении происходят его разрывы, сопровождающиеся болью и заметным выделением крови). После выведения объекта плева внешне возвращается к первоначальному виду, хотя растягиваться после этого будет легче. Количество введений (соответственно, и количество половых партнеров) ни на что не влияет. Плева не меняется с возрастом. Вот почему говорят, что «женской» девственности не существует: гимен слабо меняется после первого полового акта и точно определить, является девушка девственницей или нет, невозможно. Девственность и у женщин, и у мужчин - понятие психологическое, а не физиологическое.
h3#-
	strong Половые губы
p
	| Две пары складок кожи (малые и большие), окружающие отверстия уретры и влагалища. При возбуждении кровь приливает к половым губам и они набухают, становятся ярче и теплее. На больших половых губах с возраста полового созревания (обычно 11-13 лет) растут волосы, нужные для защиты половых органов от загрязнений и инфекций. Цвет кожи гениталий (здесь: половых губ) обычно отличается от основного цвета кожи человека.
h3#-
	strong Клитор
p
	| Половой орган, находящийся за половыми губами. Его функция - сексуальное удовлетворение. Он состоит из тех же клеток, что и мужской половой член. Снаружи видно лишь его головку, часть которой прикрыта крайней плотью/капюшоном (участком кожи), но он также имеет тело и ножки. В головке сконцентрировано 8000 нервных окончаний, что делает ее самой чувствительной частью клитора и всей вульвы (наружных половых органов женщины)
h3#-
	strong Уретра
p
	| Трубка, один конец которой присоединен к мочевому пузырю, а другой выходит наружу. По уретре из тела выводится моча. Отверстие уретры маленькое и находится над отверстием влагалища.
h3#-
	strong Парауретральные железы/железы Скина
p
	| Железы, располагающиеся (большей своей частью) внутри уретры. В народе они имеют название «женская простата», но функционально от простаты несколько отличаются. Они выбрасывают эякулят (прозрачно-белую жидкость) при оргазме, но не всегда и в небольших количествах. Сквирт/струйный оргазм с выстреливанием больших объемов жидкости является мифом из порноиндустрии.
h3#-
	strong Анальный канал
p
	| Узкая часть прямой кишки, конец которой (анус) выходит наружу. По ней из тела выходят фекалии. Это неэластичный орган, потому введение крупных предметов (например, полового члена) может быть болезненным, может привести к разрывам и ослаблению сфинктера (недержанию кала). Анальный канал не отвечает за половое удовлетворение и не соприкасается с клитором.
h2#male-phy
	strong §2 Мужская физиология
h3#-
	strong Семенники/яички
p
	| Парный железистый орган округлой формы. Семенники располагаются не внутри полости тела, а снаружи, в мошонке (кожно-мышечный «мешок»). В яичниках формируются сперматозоиды (мужские половые клетки, из которых формируется эмбрион), составляющие эякулят/сперму (прозрачно-белую жидкость, нужную для переноса сперматозоидов). От яичников отходят семенные каналы, по которым сперма попадает в уретру для дальнейшего выбрасывания из организма.
h3#-
	strong Уретра
p
	| Трубка, один конец которой присоединен к мочевому пузырю, а другой проходит через пенис и выходит наружу. По уретре из тела выводится моча, а при оргазме - сперма.
h3#-
	strong Половой член/пенис
p
	| Трубчатый половой орган длиной 7-9 см в невозбужденном состоянии. Он обеспечивает половое удовлетворение, имеет мочевыделительную и репродуктивную функции. Пенис состоит из тела/ствола и головки, прикрытой крайней плотью/капюшоном (участком кожи), внутри него проходит уретра. При возбуждении пенис становится теплее, твердеет, поднимается и увеличивается, доходя в среднем до 13-16 см в длину и 11-12 см в обхвате. Его размеры индивидуальны для каждого человека и могут варьироваться от 7 до 25 см (длина), а средний показатель различается в разных регионах. Помимо этого, размер члена меняется с возрастом: в 12 лет длина при эрекции (возбуждении) составляет в среднем 9 см, в 13 - 12 см, в 15 - 14 см. Мужской оргазм обычно сопровождается семяизвержением/эякуляцией (выстрелом спермы из полового члена), но изредка может проходить без этого. Помимо этого, семяизвержение может произойти без оргазма и стимуляции (поллюция), что вызывается долгим воздержанием или половым созреванием, часто случается во сне. Половой член - неэластичный орган, от резкого сильного удара или поворота/наклона он может сломаться.
h3#-
	strong Предстательная железа/простата
p
	| Мышечно-железистый орган размерами 2,5-4 см на 2,2-5 см, охватывающий верхнюю часть уретры. В нем сперма приобретает свой итоговый состав. Также простата контролирует мочеиспускание и служит для защиты от инфекций. Стимуляция простаты может доставить сексуальное удовольствие. Помимо этого, существует массаж простаты, используемый в медицинских целях (например, для профилактики/лечения простатита). Стимулируется она через анальный канал, возле которого находится.
h3#-
	strong Анальный канал
p
	| Узкая часть прямой кишки, конец которой (анус) выходит наружу. Свойства и функции аналогичны женскому анальному каналу. У мужчин проникновение обьектов в анальный канал может доставить сексуальное удовлетворение (из-за простаты).
