.table-of-contents{
    &__chapter-container{
        display: flex;
        margin-bottom: -25px;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        list-style: none;
        counter-reset: chapter;
    }
}