-
    const chapters = [{
            name: 'психология',
            link: "chapter-psy.html",
        },{
            name: 'секс',
            link: "chapter-sex.html",
        },{
            name: 'физиология',
            link: "chapter-phy.html",
            paragraphs: ['Мужская физиология', 'Женская физиология'],
        },{
            name: 'контрацепция',
            link: "chapter-gon.html",
            paragraphs: ['Гармональная', 'Химическая', 'Внутриматочная', 'Хирургическая']
        },{
            name: 'зппп',
            link: "chapter-std.html",
            paragraphs: ['ВИЧ', 'Генитальный герпес', 'Сифилис', 'Хламидиоз', 'Кандидоз (Молочница)']
        },{
            name: 'менструация',
            link: "chapter-mns.html",
        },];

.table-of-contents.border.section-container
    +section_name("Содержание")
    ol.table-of-contents__chapter-container
        each chapter, key in chapters 
            include ../../components/chapter/chapter
    button.table-of-contents__dropdown-btn.text.text--bold ↓↓↓