.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    padding: 50px 100px 50px 100px;
    display: flex;
    justify-content: space-between;
    &__logo{
        margin-top: -50px;
        font-family: $header-font;
        font-weight: 400;
        font-size: 150px;
        line-height: 150px;
        color: #FFFFFF;
    }
}
@media (min-width: $tablet-screen) {
    .footer{
        flex-direction: row;
        &__credits{
            width: 350px;
        }
    }
}
@media (max-width: $tablet-screen) {
    .footer{
        flex-direction: column;
        align-items: center;
        &__credits{
            width: auto;
        }
        &__logo{
            margin-bottom: 40px;
        }
    }
}
