section.footer.border.section-container
    span.footer__logo СЕКС?!
    .footer__credits
        p.footer__text.text.text--white.text--mini.
            Авторка текста: #[a(class='text text--white text--link text--mini' href="https://t.me/Mary_Histon") Хализова Мария]
        p.footer__text.text.text--white.text--mini.
            Дизайнер и разработчик: #[a(class='text text--white text--link text--mini' href="https://t.me/z1n1n85") Зинин Илья]
