section.footer.border.section-container
    span.footer__logo СЕКС?!
    .footer__credits
        p.footer__text.text.text--white.text--mini.
            Авторка текста: #[a(class='text text--white text--link text--mini' href="https://www.google.com/") Хализова Мария]
        p.footer__text.text.text--white.text--mini.
            Автор дизайна: #[a(class='text text--white text--link text--mini' href="https://www.google.com/") Зинин Илья]
        p.footer__text.text.text--white.text--mini.
            Группа проекта в #[a(class='text text--white text--link text--mini' href="https://www.google.com/") вконтакте],
            #[a(class='text text--link text--white text--mini' href="https://www.google.com/") телеграм]
